// out: false

.flex-1-2 {
    flex: 0 0 50%;
}

.striped {
    >:nth-of-type() {
        background-color: antiquewhite;
    }
    
    >:nth-of-type(){
        background-color: var(--color-light-fill); 
    }
} 