.flex-1-2 {
  flex: 0 0 50%;
}
.striped > :nth-child(even) {
  background-color: antiquewhite;
}
.striped > :nth-child(odd) {
  background-color: var(--color-light-fill);
}
.welcome {
  flex: 0 0 100%;
  height: 5%;
}
.list-box {
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}
.featured {
  flex: 0 0 50%;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}
.newest {
  flex: 0 0 50%;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}
.site-list-row {
  background-color: red;
  padding: var(--container-padding);
  display: flex;
}
.site-list-row .favorite-icon {
  float: right;
}
.site-list-row a {
  flex: auto;
}
