* {
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', Courier, monospace;
  --color-accent: #e99a27;
  --color-background: #e6f4f1;
  --color-fill: #7db1d6;
  --color-main: #457B9D;
  --color-dark: #723700;
  --color-font: #3f1f01;
  --container-padding: 1%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-font);
}
ul {
  margin: 0;
}
.header {
  background-color: var(--color-main);
  display: flex;
  line-height: 2em;
  padding-left: var(--container-padding);
  padding-right: 2%;
}
.content {
  padding-left: var(--container-padding);
}
.logo {
  font-size: 1.5em;
  /*Give the logo the right color and stroke*/
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  color: black;
  -webkit-text-fill-color: var(--color-background);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-fill);
}
.nav-buttons {
  margin-left: auto;
  color: var(--color-background);
  font-weight: bold;
}
.nav-buttons ul {
  display: flex;
  white-space: nowrap;
  align-items: center;
  flex-direction: row;
  line-height: 2em;
}
.nav-buttons ul li {
  display: inline-block;
  list-style: none;
  padding-left: 1%;
  margin-right: 1%;
  border: 1px solid var(--color-fill);
  border-radius: 5px;
  line-height: normal;
  margin-top: 0.33em;
}
